$color-primary: #333;
$color-secondary: #777;
$color-tertiary: #aaa;
$color-black: #000;
$color-white: #fff;

$font-primary: sans-serif;
$font-secondary: serif;

$transition-time: 100ms;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

nav {
  background-color: $color-primary;
  margin-bottom: 30px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-primary;
    color: $color-tertiary;
    padding: 20px 0;
    a {
      color: $color-tertiary;
      text-decoration: none;
      transition: $transition-time;
      &:hover {
        color: $color-secondary;
      }
    }
    h1 {
      font-size: 24px;
      margin: 0;
    }
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      li {
        list-style: none;
        margin: 0 10px;
      }
    }
  }
}

.body {
  flex-grow: 1;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.errors {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
  margin-top: 20px;
  ul {
    padding: 5px 10px;
    li {
      list-style: none;
    }
  }
}

.add-snippet-form {
  label {
    display: block;
    margin: 15px 0 5px;
  }
  textarea {
    resize: none;
  }
}

footer {
  background-color: $color-primary;
  color: $color-tertiary;
  text-align: center;
}
