    <footer>
      <div class="container">
        <p><a target="_blank" class="api-link" href="/api/codesnippets">API Endpoint</a></p>
        <p>&copy; 2017 Code Snippets</p>
      </div>
    </footer>
    <script type="text/javascript" src="/script.js">

    </script>
  </body>
</html>
