<% include partials/_loggedInHeader %>

<div class="body">

  <div class="container">
    <h1>Home</h1>
    <h2>Welcome <%= username %>!</h2>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <a href="/logout">Logout</a>
  </div>
  
</div>

<% include partials/_footer %>
