<% include partials/_loggedInHeader %>

<div class="body">

  <div class="container">
    <ul>
      <% snippets.forEach((snippet) => { %>
        <li><%= snippet.title %></li>
      <% }) %>
    </ul>
  </div>

</div>


<% include partials/_footer %>
